{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier",
    "react",
    "standard"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}